<table id="bienes" class="table table-bordered  shadow-lg display nowrap   mt-4 " style="width:100%">
    <thead class="table-success text-black"  >
        <tr>
            <th scope="col">Resguardante</th>
            <th scope="col">No. Inventario Actual</th>
            <th scope="col">No. Inventario Anterior</th>
            <th scope="col">Clasificación</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">No. de Serie </th>
            <th scope="col">No.Folio Fiscal</th>
            <th scope="col">Estado</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Características</th>
            <th scope="col">Observaciones</th>
            <th scope="col">Mejoras al equipo</th>
            <th scope="col">Fecha de Asignación</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
                        <td>C. MEMELIDA ESTHERRIVERAMEDRANO</td>
            <td>ALARSI-0002</td>
            <td>OSFE/18/UA/1525</td>
            <td>ALARMA SISMICA</td>
            <td>s/m</td>
            <td>S/M</td>
            <td>OSFE/18/UA/1525</td>
            <td>S/F</td>
            <td>REGULAR</td>
            <td>UTIC</td>
            <td>ALARMA SISMICA</td>
            <td>ALARMA SISMICA</td>
            <td>ALARMA SISMICA</td>
            <td>2021-05-21 16:09:03</td>
            </tr>
                        <td>C.LILIANAESPINOSASOLANO</td>
            <td>OSFE-H-511170001</td>
            <td>2010/DSE/095 CMHOPINV.049</td>
            <td>BANCA DE VISITA</td>
            <td>s/m</td>
            <td>S/M</td>
            <td>S/N</td>
            <td>S/F</td>
            <td>BUENO</td>
            <td>ENTRADA</td>
            <td>BANCO DE MADERA</td>
            <td>---</td>
            <td>---</td>
            <td>2021-05-21 15:46:49</td>
            </tr>
                        <td>C.P.NAZARIAPEREZCRUZ</td>
            <td>OSFE-G-52190001</td>
            <td>S/N</td>
            <td>BOCINA</td>
            <td>steren</td>
            <td>BAF-1594</td>
            <td>S/N</td>
            <td>S/F</td>
            <td>BUENO</td>
            <td>OFICINA</td>
            <td>BAFLE PROFESIONAL DE 15 PULGADAS COLOR NEGRO</td>
            <td>--</td>
            <td>NINGUNA</td>
            <td>2021-05-21 15:53:11</td>
            </tr>
                        <td>L.DJULIO CESARPASCUALPASCUAL</td>
            <td>OSFE-B-51510001</td>
            <td>ASE13TEC224</td>
            <td>CPU</td>
            <td>hp</td>
            <td>SK-2085</td>
            <td>BCYST0ACP8C2AH</td>
            <td>--</td>
            <td>BUENO</td>
            <td>--</td>
            <td>COLOR NEGRO, ALFANUMERICO, USB.</td>
            <td>--</td>
            <td>NINGUNA</td>
            <td>2021-05-21 15:55:26</td>
            </tr>
                        <td>L.DJULIO CESARPASCUALPASCUAL</td>
            <td>OSFE-E-51510001</td>
            <td>ASE13LAP20</td>
            <td>LAPTOP</td>
            <td>samsung</td>
            <td>MP270E5E</td>
            <td>JE6E912DA00395M</td>
            <td>--</td>
            <td>BUENO</td>
            <td>PLANTA BAJA</td>
            <td>CORE I5, 8 GB RAM, 500 DD, COLOR NEGRO</td>
            <td>--</td>
            <td>--</td>
            <td>2021-05-21 16:16:10</td>
            </tr>
                        <td>L.DEDGAR ALBERTOTAPIASERRET</td>
            <td>MA-0002</td>
            <td>ASE13MAL31</td>
            <td>MALETIN</td>
            <td>supra elegance</td>
            <td>S/M</td>
            <td>S/N</td>
            <td>--</td>
            <td>BUENO</td>
            <td>UTIC</td>
            <td>--</td>
            <td>COLOR NEGRO</td>
            <td>NINGUNA</td>
            <td>2021-05-21 16:06:14</td>
            </tr>
                        <td>L.DEDGAR ALBERTOTAPIASERRET</td>
            <td>MO-0001</td>
            <td>---</td>
            <td>MOUSE</td>
            <td>hp</td>
            <td>--</td>
            <td>ASE13MOU89</td>
            <td>--</td>
            <td>REGULAR</td>
            <td>--</td>
            <td>COLOR NEGRO Y GRIS</td>
            <td>NO FUNCIONAN BOTONES Y FALTA SCROLL</td>
            <td>--</td>
            <td>2021-05-21 16:16:43</td>
            </tr>
                        <td>LIC.CARLOS EDUARDORUIZHERNANDEZ</td>
            <td>OSFE-G-51150002</td>
            <td>OSFE/18/UA/1525</td>
            <td>ANAQUEL</td>
            <td>s/m</td>
            <td>S/M</td>
            <td>S/N</td>
            <td>--</td>
            <td>BUENO</td>
            <td>PLANTA BAJA EDIFICIO CENTRAL</td>
            <td>COLOR NEGRO</td>
            <td>COLOR NEGRO</td>
            <td>NINGUNA</td>
            <td>2021-05-21 16:11:11</td>
            </tr>
                        <td>LIC.MARISOLHERNANDEZHERNANDEZ</td>
            <td>ALARSI-0001</td>
            <td>S/N</td>
            <td>ALARMA SISMICA</td>
            <td>s/m</td>
            <td>S/M</td>
            <td>S/N</td>
            <td>S/F</td>
            <td>BUENO</td>
            <td>PLANTA BAJA EDIFICIO CENTRAL</td>
            <td>NINGUNA</td>
            <td>NINGUNA</td>
            <td>NINGUNA</td>
            <td>2021-05-21 16:14:15</td>
            </tr>
                        <td>LIC.ANA LAURAAQUINOHERNANDEZ</td>
            <td>OSFE-E-51150001</td>
            <td>S/N</td>
            <td>ANAQUEL</td>
            <td>s/m</td>
            <td>S/M</td>
            <td>S/N</td>
            <td>S/F</td>
            <td>MALO</td>
            <td>COBACHITA</td>
            <td>COLOR NEGRO</td>
            <td>---</td>
            <td>NINGUNA</td>
            <td>2021-05-21 16:15:00</td>
            </tr>
                        <td>C. MEMELIDA ESTHERRIVERAMEDRANO</td>
            <td>MA-0001</td>
            <td>ASE13MAL31</td>
            <td>MALETIN</td>
            <td>supra elegance</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>REGULAR</td>
            <td>--</td>
            <td>COLOR NEGRO</td>
            <td>---</td>
            <td>---</td>
            <td>2021-05-22 12:38:12</td>
            </tr>
                        <td>C. MEMELIDA ESTHERRIVERAMEDRANO</td>
            <td>OSFE-A-51530001</td>
            <td>--</td>
            <td>MONITOR</td>
            <td>hp</td>
            <td>N246V</td>
            <td>1CR9310RJW</td>
            <td>--</td>
            <td>BUENO</td>
            <td>--</td>
            <td>COLOR NEGRO 60.5 CM,23.8 PULG</td>
            <td>(15-10-2019)FACT-367</td>
            <td>--</td>
            <td>2021-05-22 12:38:12</td>
            </tr>
                </tbody>
</table>