<table>
    <thead>
        <tr>
            <th scope="col">Resguardante</th>
            <th scope="col">No. Inventario Actual</th>
            <th scope="col">No. Inventario Anterior</th>
            <th scope="col">Clasificación</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">No. de Serie </th>
            <th scope="col">No.Folio Fiscal</th>
            <th scope="col">Estado</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Características</th>
            <th scope="col">Observaciones</th>
            <th scope="col">Mejoras al equipo</th>
            <th scope="col">Fecha de Asignación</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
                     
            <td>ALARSI-0001</td>
            <td>S/N</td>
            <td>ALARMA SISMICA</td>
            <td>s/m</td>
            <td>S/M</td>
            <td>S/N</td>
            <td>S/F</td>
            <td>BUENO</td>
            <td>PLANTA BAJA EDIFICIO CENTRAL</td>
            <td>NINGUNA</td>
            <td>NINGUNA</td>
            <td>NINGUNA</td>
            </tr>
                     
            <td>OSFE-E-51150001</td>
            <td>S/N</td>
            <td>ANAQUEL</td>
            <td>s/m</td>
            <td>S/M</td>
            <td>S/N</td>
            <td>S/F</td>
            <td>MALO</td>
            <td>COBACHITA</td>
            <td>COLOR NEGRO</td>
            <td>---</td>
            <td>NINGUNA</td>
            </tr>
                     
            <td>OSFE-H-511170001</td>
            <td>2010/DSE/095 CMHOPINV.049</td>
            <td>BANCA DE VISITA</td>
            <td>s/m</td>
            <td>S/M</td>
            <td>S/N</td>
            <td>S/F</td>
            <td>BUENO</td>
            <td>ENTRADA</td>
            <td>BANCO DE MADERA</td>
            <td>---</td>
            <td>---</td>
            </tr>
                     
            <td>OSFE-G-52190001</td>
            <td>S/N</td>
            <td>BOCINA</td>
            <td>steren</td>
            <td>BAF-1594</td>
            <td>S/N</td>
            <td>S/F</td>
            <td>BUENO</td>
            <td>OFICINA</td>
            <td>BAFLE PROFESIONAL DE 15 PULGADAS COLOR NEGRO</td>
            <td>--</td>
            <td>NINGUNA</td>
            </tr>
                     
            <td>ALARSI-0002</td>
            <td>OSFE/18/UA/1525</td>
            <td>ALARMA SISMICA</td>
            <td>s/m</td>
            <td>S/M</td>
            <td>OSFE/18/UA/1525</td>
            <td>S/F</td>
            <td>REGULAR</td>
            <td>UTIC</td>
            <td>ALARMA SISMICA</td>
            <td>ALARMA SISMICA</td>
            <td>ALARMA SISMICA</td>
            </tr>
                     
            <td>OSFE-G-51150002</td>
            <td>OSFE/18/UA/1525</td>
            <td>ANAQUEL</td>
            <td>s/m</td>
            <td>S/M</td>
            <td>S/N</td>
            <td>--</td>
            <td>BUENO</td>
            <td>PLANTA BAJA EDIFICIO CENTRAL</td>
            <td>COLOR NEGRO</td>
            <td>COLOR NEGRO</td>
            <td>NINGUNA</td>
            </tr>
                </tbody>
</table>