<h1 class="d-flex justify-content-center mb-4 mt-100" style="color:#008000" class="was-validated">LISTA DE BIENES MUEBLES</h1>
<table id="example" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Clasificación</th>
                <th scope="col">No. de serie </th>
                <th scope="col">No. de Folio Fiscal</th>
                <th scope="col">No. Inventario Anterior</th>
                <th scope="col">No. Inventario Actual</th>
                <th scope="col">Modelo</th>
                <th scope="col">Marca</th>
                <th scope="col">Estado</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Características</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Fecha de Baja</th>
                <th scope="col">Disponibilidad</th>
                <th scope="col">Usuario alta</th>
                <th scope="col">Fecha de Creación</th>
            </tr>
    </thead>
        <tbody>
                       <tr>
                    <td>PRESIDENCIAL</td>
                    <td>CNH71708L7</td>
                    <td>ASFDF</td>
                    <td>OSFE67ID</td>
                    <td>5151-0004</td>
                    <td>PAVILION S3020LA</td>
                    <td>koblenz</td>
                    <td>BUENO</td>
                    <td>UTIC</td>
                    <td>A</td>
                    <td>A</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-18 14:10:58</td>
                </tr>
                       <tr>
                    <td>PRESIDENCIAL</td>
                    <td>CNH71708L7</td>
                    <td>ASFDF</td>
                    <td>OSFE67IDRR</td>
                    <td>5151-0005</td>
                    <td>PAVILION S3020LA</td>
                    <td>koblenz</td>
                    <td>BUENO</td>
                    <td>PLANTA BAJA</td>
                    <td>A</td>
                    <td>A</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-18 15:24:09</td>
                </tr>
                       <tr>
                    <td>PRESIDENCIAL</td>
                    <td>CNH71708L7</td>
                    <td>ASFDF</td>
                    <td>OSFE/18/UA/1525</td>
                    <td>5151-0006</td>
                    <td>PAVILION S3020LA</td>
                    <td>koblenz</td>
                    <td>BUENO</td>
                    <td>PLATA BAJA</td>
                    <td>A</td>
                    <td>A</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-18 15:40:43</td>
                </tr>
                       <tr>
                    <td>PRESIDENCIAL</td>
                    <td>E</td>
                    <td>E</td>
                    <td>OSFE/18/UA/1525</td>
                    <td>5151-0007</td>
                    <td>S/M</td>
                    <td>koblenz</td>
                    <td>BUENO</td>
                    <td>PLATA BAJA</td>
                    <td>A</td>
                    <td>A</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-18 19:05:07</td>
                </tr>
                       <tr>
                    <td>PRESIDENCIAL</td>
                    <td>E</td>
                    <td>ASFDF</td>
                    <td>OSFE/18/UA/1525</td>
                    <td>5151-0008</td>
                    <td>S/M</td>
                    <td>koblenz</td>
                    <td>REGULAR</td>
                    <td>PLATA BAJA</td>
                    <td>TRF</td>
                    <td>TFR</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-18 19:12:20</td>
                </tr>
                       <tr>
                    <td>PRESIDENCIAL</td>
                    <td>23456</td>
                    <td>-</td>
                    <td>E</td>
                    <td>5151-0009</td>
                    <td>FFGHYH</td>
                    <td>koblenz</td>
                    <td>BUENO</td>
                    <td>F</td>
                    <td>F</td>
                    <td>F</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-18 19:16:55</td>
                </tr>
                       <tr>
                    <td>PRESIDENCIAL</td>
                    <td>23456</td>
                    <td>-</td>
                    <td>E</td>
                    <td>5151-0010</td>
                    <td>FFGHYH</td>
                    <td>koblenz</td>
                    <td>BUENO</td>
                    <td>F</td>
                    <td>F</td>
                    <td>F</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-18 19:17:55</td>
                </tr>
                       <tr>
                    <td>PRESIDENCIAL</td>
                    <td>23456</td>
                    <td>-</td>
                    <td>E</td>
                    <td>5151-0011</td>
                    <td>FFGHYH</td>
                    <td>koblenz</td>
                    <td>BUENO</td>
                    <td>F</td>
                    <td>F</td>
                    <td>F</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-18 19:17:57</td>
                </tr>
                       <tr>
                    <td>PRESIDENCIAL</td>
                    <td>CNH71708L7</td>
                    <td>ASFDF</td>
                    <td>E</td>
                    <td>5151-0012</td>
                    <td>PAVILION S3020LA</td>
                    <td>koblenz</td>
                    <td>BUENO</td>
                    <td>COBACHITA</td>
                    <td>L</td>
                    <td>L</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-18 19:22:13</td>
                </tr>
                       <tr>
                    <td>PRESIDENCIAL</td>
                    <td>S/N</td>
                    <td>ASFDF</td>
                    <td>OSFE67ID</td>
                    <td>5151-0013</td>
                    <td>MOUSEJE</td>
                    <td>koblenz</td>
                    <td>BUENO</td>
                    <td>PLATA BAJA</td>
                    <td>E</td>
                    <td>E</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-18 19:23:25</td>
                </tr>
                       <tr>
                    <td>PRESIDENCIAL</td>
                    <td>CNH71708L7</td>
                    <td>Q44</td>
                    <td>OSFE/18/UA/1525</td>
                    <td>5151-0014</td>
                    <td>PAVILION S3020LA</td>
                    <td>koblenz</td>
                    <td>REGULAR</td>
                    <td>PLANTA BAJA</td>
                    <td>SD</td>
                    <td>S</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-18 19:33:07</td>
                </tr>
                       <tr>
                    <td>PRESIDENCIAL</td>
                    <td>CNH71708L7</td>
                    <td>Q44</td>
                    <td>OSFE67IDRR</td>
                    <td>5151-0015</td>
                    <td>SILLA REDONDA</td>
                    <td>lenox</td>
                    <td>BUENO</td>
                    <td>PLANTA BAJA</td>
                    <td>FG</td>
                    <td>FG</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-18 20:11:08</td>
                </tr>
                       <tr>
                    <td>PRESIDENCIAL</td>
                    <td>CNH71708L7</td>
                    <td>ASFDF</td>
                    <td>OSFE67ID</td>
                    <td>5151-0016</td>
                    <td>PAVILION S3020LA</td>
                    <td>koblenz</td>
                    <td>BUENO</td>
                    <td>PLANTA BAJA</td>
                    <td>I</td>
                    <td>I</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-19 11:25:53</td>
                </tr>
                       <tr>
                    <td>PRESIDENCIAL</td>
                    <td>NONO</td>
                    <td>NONO</td>
                    <td>NONO</td>
                    <td>5151-0017</td>
                    <td>MM</td>
                    <td>lenox</td>
                    <td>REGULAR</td>
                    <td>LEJOS</td>
                    <td>NONO</td>
                    <td>NON</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-19 16:58:19</td>
                </tr>
                       <tr>
                    <td>ALARMA SISMICA</td>
                    <td>CNH71708L7</td>
                    <td>ASFDF</td>
                    <td>ACE12345</td>
                    <td>ALARSI-0002</td>
                    <td>SILLA REDONDA</td>
                    <td>lenox</td>
                    <td>BUENO</td>
                    <td>PLANTA BAJA</td>
                    <td>AS</td>
                    <td>AS</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-19 16:55:27</td>
                </tr>
                       <tr>
                    <td>ALARMA SISMICA</td>
                    <td>CNH71708L7</td>
                    <td>ASFDF</td>
                    <td>OSFE67ID</td>
                    <td>ALARSI-0003</td>
                    <td>PAVILION S3020LA</td>
                    <td>lenox</td>
                    <td>BUENO</td>
                    <td>PLATA BAJA</td>
                    <td>AA</td>
                    <td>AAA</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-19 16:56:38</td>
                </tr>
                       <tr>
                    <td>ALARMA SISMICA</td>
                    <td>CNH71708L7</td>
                    <td>ASFDF</td>
                    <td>OSFE/18/UA/1525</td>
                    <td>ALARSI-0004</td>
                    <td>PAVILION S3020LA</td>
                    <td>samsung</td>
                    <td>MALO</td>
                    <td>EEEEE</td>
                    <td>WI</td>
                    <td>WI</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-19 16:57:19</td>
                </tr>
                       <tr>
                    <td>RR</td>
                    <td>CNH71708L7</td>
                    <td>ASFDF</td>
                    <td>OSFE67IDRR</td>
                    <td>OSFE-H-51150001</td>
                    <td>PAVILION S3020LA</td>
                    <td>koblenz</td>
                    <td>REGULAR</td>
                    <td>COBACHITA</td>
                    <td>Z</td>
                    <td>Z</td>
                    <td></td>
                    <td>1</td>
                    <td>Anita.Aquino</td>
                    <td>2021-05-19 16:56:00</td>
                </tr>
                </tbody>
</table>
